html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: #f8d2e7;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-404 {
    font-weight: 500;
    font-size: 90px;
    color: #fa2b32;
    letter-spacing: -6px;
}

.rekt-404 {
    font-size: 85px;
    font-weight: 700;
    color: #fa2b32;
    letter-spacing: -3px;
    margin-top: -10px;
}

.dollar-rekt {
    color: white !important;
    font-size: 75px;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .error-404 {
        font-size: 120px;
    }

    .rekt-404 {
        font-size: 120px;
        margin-top: -20px;
    }
}